@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);

  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  --regular-font-weight: 400; /*regular weight*/
  --semi-bold-font-weight: 600; /* Semi-bold weight */
  --bold-font-weight: 700; /* Bold weight */

  --author-name-color: hsl(228, 45%, 44%);

  --fluid-12-13: clamp(0.75rem, 0.7283rem + 0.1087vw, 0.8125rem);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

html, body {
  font-weight: normal;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: var(--regular-font-weight);
  background-color: var(--grey-900);
  display: grid;
  place-items: center;
  transition: all 0.3s ease;
}

img{
  display: block;
  max-inline-size: 100%; /*-- replace max-width for internationalizaion and accessibility use cases --*/
  max-block-size: 100%;  /* optional, limits height/block size */
  inline-size: 8rem; /* replaces width: auto; keeps aspect ratio */ 
  block-size: 8rem; /* replaces height: auto; keeps aspect ratio */
  border-radius: 50%;
  margin: 0 auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: top center;
}

h1 {
  font-size: clamp(1rem, 1.3rem + 1vw, 1.7rem);
  font-weight: var(--bold-font-weight);
}

h2 {
  color: var(--green);
  font-size: clamp(0.875rem, 0.775rem + 0.38vw, 1rem);
  font-weight: var(--semi-bold-font-weight);
}

h3 {
  font-size: clamp(0.625rem, 0.7rem + 0.38vw, 0.875rem);
  margin-top: 2rem;
}
ul {
  list-style-type: none;
}
ul li {
  background-color: var(--grey-700);
  padding: 0.55rem 1.25rem;
  margin: 0.625rem 0;
  border-radius: 0.625rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
ul li:hover {
  transform: translateY(-0.188rem);
  background-color: var(--green);
  cursor: pointer;

  .social-links {
    color: var(--grey-900); /*-- social links color when hover--*/
  }
}

